@import url('https://fonts.googleapis.com/css?family=Patua+One');
@import url('https://rsms.me/inter/inter-ui.css');
html { font-family: 'Inter UI', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter UI var alt', sans-serif; }
}

body {
  color: #0c0c0d;
}

.whole-thang {
  max-width: 800px;
  margin: auto;
  margin-top: 204px;
}

h1 {
  font-family: 'Patua One', cursive;
  font-size: 48px;
  font-weight: 1000;
  margin: 0;
  margin-bottom: 16px;
}

h3 {
  margin: 0;
}

.data p {
  margin: 4px 0;
}

.header p {
  font-size: 20px;
  font-weight: 400;
  opacity: .8;
  margin: 0;
}

.header {
  max-width: 600px;
  margin: auto;
  margin-bottom: 104px;
}

.group-items {
  border: 1px solid #bcbcbc;
  border-radius: 8px;
}

.button {
  display: block;
  font-size: 16px;
  font-weight: 500;
  color: white;
  background: #00af10;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 8px;
  text-align: center;
}

.group-items .item {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 104px auto 64px 86px;
  grid-template-areas: "picture data price cta";
  grid-column-gap: 24px;
  align-items: center;
  padding: 16px 24px;
}

.group-items .item:last-child {
  border-radius: 0 0 8px 8px;
}

.group-items .item:nth-child(2n) {
  background: #f6f6f6;
}

.group-items .item .data {
  grid-area: data;
}

.group-items .item .picture {
  display: block;
  grid-area: picture;
  border-radius: 8px;
}

.group-items .item .picture img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.group-items .item .picture a {
  height: auto;
}

.group-items .item .condition {
  display: inline;
  font-size: 10px;
  font-weight: 700;
  color: #2b2d2e;
  border: 1px solid #bcbcbc;
  padding: 3px 8px 2px 8px;
  border-radius: 4px;
  text-align: center;
  text-transform: uppercase;
  opacity: 1;
}

.group-items .item .price {
  font-size: 22px;
  font-weight: 700;
  margin: 0;
  text-align: center;
}

.group-items .item .meta {
  grid-area: price;
}

.group-items .cta {
  grid-area: cta;
}
